<section id="communication-container">
	<input type="text" id="suggestion">

	<button id="overwrite">Overwrite</button>

	<!-- <form id="suggestion-form">
		<fieldset></fieldset>
	</form> -->
</section>