<!-- <section id="communication-container"> -->
<!-- <input type="text" id="suggestion">

	<button id="overwrite">Overwrite</button> -->

<!-- <p>host: <%= host %></p>
	<p>username: <%= username %></p> -->

<!-- <form id="suggestion-form">
		<fieldset></fieldset>
	</form> -->


<% if (locals.host && locals.username && host === username) { %>
<!-- <article class="pull-request">
		<div>
			<h2 class="PR-name">Sjors</h2>
			<p class="PR-id">jhaemgbfkawuihkwsnafck</p>
		</div>

		<p class="PR-message">Hey Wessel, je bent deze regel vergeten!</p>

		<input type="text" class="PR-reference" readonly value="dit is de
		reference code">

	</article> -->
<% } else { %>

<!-- <div id="pr-container">
		<div id="pr-display">
			dit is een test pull-request
		</div>

		<form id="pr-menu">
			<button>Create Pull-Request</button>
		</form>
	</div> -->

<!-- <form id="pr-menu">
		<fieldset id="pr-input-container">
			<h2 id="pr-name">name</h2>

			<p id="pr-message">msg</p>

			<input type="text" id="pr-reference" value="reference">

			<input type="text" id="pr-suggestion" value="suggestion">
		</fieldset>

		<div id="pr-toggle-container" class="minimized">
			<input type="checkbox" id="pr-toggle"> -->
<!-- <label for="pr-toggle">Create Pull-Request</label> -->
<!-- <label for="pr-toggle">cancel</label> 

	<a id="pr-submit">submit</a>
	</div>
	</form> -->

<% } %>
<!-- </section> -->