<aside id="menu-container">
	<div id="branding-container">
		<img src="./media/images/logo_color.svg" alt="Code Exchange Logo">
		<h1>Code Exchange</h1>
	</div>

	<article id="rooms-container">
		<h2>Rooms</h2>

		<ul id="rooms-list"></ul>
	</article>

	<article id="users-container">
		<h2>Users in room</h2>

		<ul id="users-list"></ul>
	</article>

	<% if (locals.language && language === "javascript" || locals.language && language === "css") { %>
	<div id="mdn-container">
		<label for="mdn-search">Get syntax example</label>
		<input type="text" id="mdn-search" name="keyword" placeholder="Enter keyword">

		<input type="submit" value="Get">
	</div>
	<% } %>
</aside>