#register {
	background-color: $secondary-color;


	main {
		@include shadow;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto;


		#register-intro {
			grid-column: 1;
			background-color: $secondary-color;
			overflow: hidden;
			width: 400px;
			height: 400px;
			padding: 30px;
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto 1fr 70px;


			h1 {
				grid-column: 1 / 3;
				font-family: $body-font;
			}

			#register-login {
				#username-container {
					position: relative;
					padding: 15px 0 0;
					margin-bottom: 30px;


					input[type=text] {
						width: 100%;
						border: none;
						border-bottom: 2px solid $primary-color;
						font-size: 16px;
						padding: 7px 0;
						background-color: $secondary-color;

						&::placeholder {
							color: transparent;
						}

						&:placeholder-shown~label {
							// font-size: 1.3rem;
							font-size: 15px;
							cursor: text;
							top: 20px;
						}
					}

					label {
						position: absolute;
						top: 0;
						display: block;
						transition: 0.2s;
						font-size: 16px;
						color: $primary-color;
					}

					input:focus {
						outline: none;
						padding-bottom: 6px;
						border-image: linear-gradient(to right, $primary-color, $primary-color);
						border-image-slice: 1;


						~input {
							position: absolute;
							top: 0;
							display: block;
							transition: 0.2s;
							font-family: $body-font;

						}
					}

					input {

						&:required,
						&:invalid {
							box-shadow: none;
						}
					}
				}
			}
		}


		#register-logo {
			grid-column: 2;
			background-color: $primary-color;
			overflow: hidden;
			width: 400px;
			height: 400px;
			padding: 30px;


			img {
				display: block;
				max-width: 150px;
				margin: auto;
				height: 100%;
			}
		}
	}
}

fieldset {
	border: 0;
}

input[type=radio] {
	position: absolute;
	left: -9999px;
}

input[type=radio]+label {
	display: block;
	cursor: pointer;
	border: 2px solid green;
	margin: 5px 0;
}