#register {
	background-color: $secondary-color;
	overflow: hidden;


	#particle-container {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -10;


		.particle {
			position: fixed;
		}
	}


	main {
		@include shadow;
		@include position-absolute-center;
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto;


		#register-intro {
			grid-column: 1;
			background-color: $secondary-color;
			overflow: hidden;
			width: 350px;
			height: 400px;
			padding: 30px;


			h1 {
				font-family: $body-font;
			}


			#register-login {
				padding-left: 30px;


				#username-container {
					// Credit to https://codepen.io/lucasyem/pen/ZEEYKdj?editors=1100
					position: relative;
					padding: 15px 0 0 0;
					margin-bottom: 30px;


					input[type=text] {
						width: 100%;
						max-width: 250px;
						border: none;
						border-bottom: 2px solid $primary-color;
						padding: 7px 0 0 2px;
						background-color: $secondary-color;
						font-family: $body-font;
						font-size: 16px;
						text-transform: capitalize;


						&::placeholder {
							color: transparent;
						}


						&:placeholder-shown~label {
							font-size: 15px;
							cursor: text;
							top: 20px;
							padding-left: 4px;
							opacity: .75;
						}


						&:not(:placeholder-shown)~label {
							font-size: 12px;
							font-family: $body-font;
						}


						&:focus {
							outline: none;
							font-family: $header-font;


							~input {
								position: absolute;
								top: 0;
								display: block;
								font-family: $body-font;
							}
						}



						&:required,
						&:invalid {
							box-shadow: none;
						}
					}


					label {
						position: absolute;
						top: 0;
						display: block;
						transition: 300ms;
						font-size: 16px;
						color: $primary-color;
					}
				}
			}


			fieldset {
				margin: 0;
				padding: 0;
				color: $primary-color;
				font-size: 16px;
				border: 0;


				legend {
					margin-bottom: 5px;
				}


				input[type=radio] {
					@include hide;
				}


				input[type=radio]+label {
					display: block;
					cursor: pointer;
					margin: 5px 0;
					outline: none;


					&::before {
						content: "";
						background-image: url(../media/images/item-icon.svg);
						background-repeat: no-repeat;
						background-position: center;
						padding: 1px 15px;
					}


					&:focus::before,
					&:hover::before {
						background-image: url(../media/images/half-filled-item-icon.svg);
					}
				}


				input[type=radio]:checked+label {
					font-family: $header-font;


					&::before {
						background-image: url(../media/images/filled-item-icon.svg);
					}
				}
			}


			input[type=submit] {
				display: block;
				margin: 50px 30px 0 auto;
				outline: none;
				opacity: 1;
				transition: opacity 100ms ease;


				&.hide {
					opacity: 0;
				}
			}
		}


		#register-logo {
			grid-column: 2;
			background-color: $primary-color;
			overflow: hidden;
			width: 350px;
			height: 400px;
			padding: 30px;


			img {
				display: block;
				max-width: 150px;
				margin: auto;
				height: 100%;
				animation: logo-pulsing 15000ms linear infinite;
			}
		}
	}
}