<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/master.css" type="text/css">
	<link rel="icon" href="/media/images/logo_color.ico" type="image/x-icon" />
	<title>Code Exchange</title>
</head>

<body id="register">
	<main>
		<article id="register-intro">
			<h1>Welcome to <strong>Code Exchange</strong></h1>

			<form action="/register" method="POST" id="register-login">

				<div id="username-container">
					<input type="text" name="username" id="username" placeholder="Enter name" autocomplete="off">
					<label for="username">Username</label>
				</div>

				<fieldset>
					<legend>Choose a language</legend>

					<input type="radio" name="room" value="html" id="room-html">
					<label for="room-html" tabindex="0">HTML</label>

					<input type="radio" name="room" value="css" id="room-css">
					<label for="room-css" tabindex="0">CSS</label>

					<input type="radio" name="room" value="js" id="room-js">
					<label for="room-js" tabindex="0">Javascript</label>
				</fieldset>

				<input type="submit" value="Join">
			</form>
		</article>

		<aside id="register-logo">
			<img src="./media/images/logo_color.svg" alt="Code Exchange Logo">
		</aside>
	</main>
</body>

</html>