<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/master.css" type="text/css">
	<link rel="icon" href="/media/images/logo_color.ico" type="image/x-icon" />
	<title>Code Exchange</title>
</head>

<body id="register">
	<main>
		<article id="register-intro">
			<h1>Welcome to <strong>Code Exchange</strong></h1>

			<div id="role-container">
				<p id="role-intro">Join or create a room</p>

				<input type="radio" name="role" value="join" id="join-role" tabindex="-1" checked>
				<label for="join-role" tabindex="0">Join</label>

				<input type="radio" name="role" value="host" id="host-role" tabindex="-1">
				<label for="host-role" tabindex="0">Create</label>
			</div>


			<form action="/join" method="POST" id="register-join">

				<div id="username-container">
					<input type="text" name="username" id="username-join" placeholder="Enter name" autocomplete="off"
						required>
					<label for="username-join">Username</label>
				</div>

				<fieldset id="">
					<legend>Choose a room</legend>

					<% if (locals.rooms && locals.rooms.length > 0) { %>
					<% rooms.forEach(room => { %>
					<input type="radio" name="room" value="<%= room.name %>" id="room-<%= room.name %>" tabindex="-1"
						required>
					<label for="room-<%= room.name %>" tabindex="0"><%= room.name %></label>
					<% }) } else { %>
					<p class="no-rooms-warning">No rooms available currently...</p>
					<p class="no-rooms-warning">Be the first to host a room!</p>
					<% } %>
				</fieldset>

				<input type="submit" value="Join">
			</form>


			<form action="/host" method="POST" id="register-host" class="hide">

				<div id="username-container">
					<input type="text" name="username" id="username-host" placeholder="Enter name" autocomplete="off"
						required>
					<label for="username-host">Username</label>
				</div>

				<div id="roomname-container">
					<input type="text" name="roomname" id="roomname" placeholder="Enter name" autocomplete="off"
						required>
					<label for="roomname">Roomname</label>
				</div>

				<fieldset>
					<legend>Choose a language</legend>

					<input type="radio" name="language" value="html" id="language-html" tabindex="-1" required>
					<label for="language-html" tabindex="0">HTML</label>

					<input type="radio" name="language" value="css" id="language-css" tabindex="-1" required>
					<label for="language-css" tabindex="0">CSS</label>

					<input type="radio" name="language" value="javascript" id="language-js" tabindex="-1" required>
					<label for="language-js" tabindex="0">Javascript</label>
				</fieldset>

				<input type="submit" value="Create">
			</form>
		</article>

		<aside id="register-logo">
			<img src="./media/images/logo_color.svg" alt="Code Exchange Logo">
		</aside>
	</main>

	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/register.js"></script>
</body>

</html>