@font-face {
  font-family: DejaVuSansMono;
  src: url(../media/fonts/DejaVuSansMono.woff); }

@font-face {
  font-family: DejaVuSansMono-Bold;
  src: url(../media/fonts/DejaVuSansMono-Bold.woff); }

body {
  margin: 0;
  background-color: #8f97c6;
  font-family: "DejaVuSansMono", Arial, Helvetica, sans-serif;
  color: #e6e6e6; }

main {
  background-color: #1f201e;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%); }

fieldset {
  border: 0; }

input[type=radio] {
  position: absolute;
  left: -9999px; }

input[type=radio] + label {
  display: block;
  cursor: pointer;
  border: 2px solid yellow;
  margin: 5px 0; }
