@font-face {
  font-family: DejaVuSansMono;
  src: url(../media/fonts/DejaVuSansMono.woff); }

@font-face {
  font-family: DejaVuSansMono-Bold;
  src: url(../media/fonts/DejaVuSansMono-Bold.woff); }

body {
  margin: 0;
  background-color: #1f201e;
  font-family: "DejaVuSansMono", Arial, Helvetica, sans-serif;
  color: #e6e6e6; }

h1 {
  font-family: "DejaVuSansMono-Bold", "DejaVuSansMono", Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: #1f201e; }

strong {
  display: inline-block;
  font-family: "DejaVuSansMono-Bold", "DejaVuSansMono", Arial, Helvetica, sans-serif;
  color: #1f201e;
  font-size: 25px; }

input[type=submit] {
  background-color: #1f201e;
  color: #8f97c6;
  font-family: "DejaVuSansMono-Bold", "DejaVuSansMono", Arial, Helvetica, sans-serif;
  font-size: 16px;
  border: 0;
  padding: 5px;
  width: 100px;
  cursor: pointer;
  border: 2px solid #1f201e; }
  input[type=submit]:focus, input[type=submit]:hover {
    background-color: #8f97c6;
    color: #1f201e;
    border: 2px solid #1f201e; }

#register {
  background-color: #8f97c6;
  overflow: hidden; }
  #register main {
    box-shadow: 0px 5px 20px #1f201e;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto; }
    #register main #register-intro {
      grid-column: 1;
      background-color: #8f97c6;
      overflow: hidden;
      width: 350px;
      height: 400px;
      padding: 30px; }
      #register main #register-intro h1 {
        font-family: "DejaVuSansMono", Arial, Helvetica, sans-serif; }
      #register main #register-intro #register-login {
        padding-left: 30px; }
        #register main #register-intro #register-login #username-container {
          position: relative;
          padding: 15px 0 0 0;
          margin-bottom: 30px; }
          #register main #register-intro #register-login #username-container input[type=text] {
            width: 100%;
            max-width: 250px;
            border: none;
            border-bottom: 2px solid #1f201e;
            padding: 7px 0 0 2px;
            background-color: #8f97c6;
            font-family: "DejaVuSansMono", Arial, Helvetica, sans-serif;
            font-size: 16px;
            text-transform: capitalize; }
            #register main #register-intro #register-login #username-container input[type=text]::placeholder {
              color: transparent; }
            #register main #register-intro #register-login #username-container input[type=text]:placeholder-shown ~ label {
              font-size: 15px;
              cursor: text;
              top: 20px;
              padding-left: 4px;
              opacity: .75; }
            #register main #register-intro #register-login #username-container input[type=text]:not(:placeholder-shown) ~ label {
              font-size: 12px;
              font-family: "DejaVuSansMono", Arial, Helvetica, sans-serif; }
            #register main #register-intro #register-login #username-container input[type=text]:focus {
              outline: none;
              font-family: "DejaVuSansMono-Bold", "DejaVuSansMono", Arial, Helvetica, sans-serif; }
              #register main #register-intro #register-login #username-container input[type=text]:focus ~ input {
                position: absolute;
                top: 0;
                display: block;
                font-family: "DejaVuSansMono", Arial, Helvetica, sans-serif; }
            #register main #register-intro #register-login #username-container input[type=text]:required, #register main #register-intro #register-login #username-container input[type=text]:invalid {
              box-shadow: none; }
          #register main #register-intro #register-login #username-container label {
            position: absolute;
            top: 0;
            display: block;
            transition: 300ms;
            font-size: 16px;
            color: #1f201e; }
      #register main #register-intro fieldset {
        margin: 0;
        padding: 0;
        color: #1f201e;
        font-size: 16px;
        border: 0; }
        #register main #register-intro fieldset legend {
          margin-bottom: 5px; }
        #register main #register-intro fieldset input[type=radio] {
          position: absolute;
          left: -9999px; }
        #register main #register-intro fieldset input[type=radio] + label {
          display: block;
          cursor: pointer;
          margin: 5px 0;
          outline: none; }
          #register main #register-intro fieldset input[type=radio] + label::before {
            content: "";
            background-image: url(../media/images/item-icon.svg);
            background-repeat: no-repeat;
            background-position: center;
            padding: 1px 15px; }
          #register main #register-intro fieldset input[type=radio] + label:focus::before, #register main #register-intro fieldset input[type=radio] + label:hover::before {
            background-image: url(../media/images/half-filled-item-icon.svg); }
        #register main #register-intro fieldset input[type=radio]:checked + label {
          font-family: "DejaVuSansMono-Bold", "DejaVuSansMono", Arial, Helvetica, sans-serif; }
          #register main #register-intro fieldset input[type=radio]:checked + label::before {
            background-image: url(../media/images/filled-item-icon.svg); }
      #register main #register-intro input[type=submit] {
        display: block;
        margin: 50px 30px 0 auto;
        outline: none; }
        #register main #register-intro input[type=submit].hide {
          position: absolute;
          left: -9999px; }
    #register main #register-logo {
      grid-column: 2;
      background-color: #1f201e;
      overflow: hidden;
      width: 350px;
      height: 400px;
      padding: 30px; }
      #register main #register-logo img {
        display: block;
        max-width: 150px;
        margin: auto;
        height: 100%; }

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(33vw, 82vh, 76px); } }

.particle:nth-child(1) {
  animation: particle-animation-1 60000ms infinite;
  opacity: 0.49;
  height: 10px;
  width: 10px;
  animation-delay: -100ms;
  transform: translate3d(25vw, 13vh, 53px);
  background: black; }

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(86vw, 77vh, 77px); } }

.particle:nth-child(2) {
  animation: particle-animation-2 60000ms infinite;
  opacity: 0.32;
  height: 10px;
  width: 10px;
  animation-delay: -200ms;
  transform: translate3d(97vw, 36vh, 17px);
  background: black; }

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(9vw, 77vh, 74px); } }

.particle:nth-child(3) {
  animation: particle-animation-3 60000ms infinite;
  opacity: 0.005;
  height: 8px;
  width: 8px;
  animation-delay: -300ms;
  transform: translate3d(77vw, 4vh, 80px);
  background: black; }

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(2vw, 46vh, 19px); } }

.particle:nth-child(4) {
  animation: particle-animation-4 60000ms infinite;
  opacity: 0.45;
  height: 7px;
  width: 7px;
  animation-delay: -400ms;
  transform: translate3d(40vw, 33vh, 45px);
  background: black; }

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(21vw, 69vh, 45px); } }

.particle:nth-child(5) {
  animation: particle-animation-5 60000ms infinite;
  opacity: 0.41;
  height: 8px;
  width: 8px;
  animation-delay: -500ms;
  transform: translate3d(38vw, 79vh, 88px);
  background: black; }

@keyframes particle-animation-6 {
  100% {
    transform: translate3d(92vw, 52vh, 89px); } }

.particle:nth-child(6) {
  animation: particle-animation-6 60000ms infinite;
  opacity: 0.265;
  height: 8px;
  width: 8px;
  animation-delay: -600ms;
  transform: translate3d(42vw, 79vh, 37px);
  background: black; }

@keyframes particle-animation-7 {
  100% {
    transform: translate3d(13vw, 61vh, 92px); } }

.particle:nth-child(7) {
  animation: particle-animation-7 60000ms infinite;
  opacity: 0.13;
  height: 8px;
  width: 8px;
  animation-delay: -700ms;
  transform: translate3d(71vw, 91vh, 11px);
  background: black; }

@keyframes particle-animation-8 {
  100% {
    transform: translate3d(41vw, 44vh, 97px); } }

.particle:nth-child(8) {
  animation: particle-animation-8 60000ms infinite;
  opacity: 0.09;
  height: 6px;
  width: 6px;
  animation-delay: -800ms;
  transform: translate3d(22vw, 38vh, 90px);
  background: black; }

@keyframes particle-animation-9 {
  100% {
    transform: translate3d(32vw, 78vh, 95px); } }

.particle:nth-child(9) {
  animation: particle-animation-9 60000ms infinite;
  opacity: 0.095;
  height: 7px;
  width: 7px;
  animation-delay: -900ms;
  transform: translate3d(33vw, 17vh, 15px);
  background: black; }

@keyframes particle-animation-10 {
  100% {
    transform: translate3d(85vw, 4vh, 64px); } }

.particle:nth-child(10) {
  animation: particle-animation-10 60000ms infinite;
  opacity: 0.34;
  height: 7px;
  width: 7px;
  animation-delay: -1000ms;
  transform: translate3d(84vw, 26vh, 5px);
  background: black; }

@keyframes particle-animation-11 {
  100% {
    transform: translate3d(99vw, 9vh, 88px); } }

.particle:nth-child(11) {
  animation: particle-animation-11 60000ms infinite;
  opacity: 0.26;
  height: 6px;
  width: 6px;
  animation-delay: -1100ms;
  transform: translate3d(26vw, 17vh, 3px);
  background: black; }

@keyframes particle-animation-12 {
  100% {
    transform: translate3d(79vw, 39vh, 12px); } }

.particle:nth-child(12) {
  animation: particle-animation-12 60000ms infinite;
  opacity: 0.32;
  height: 9px;
  width: 9px;
  animation-delay: -1200ms;
  transform: translate3d(94vw, 2vh, 74px);
  background: black; }

@keyframes particle-animation-13 {
  100% {
    transform: translate3d(100vw, 26vh, 22px); } }

.particle:nth-child(13) {
  animation: particle-animation-13 60000ms infinite;
  opacity: 0.165;
  height: 10px;
  width: 10px;
  animation-delay: -1300ms;
  transform: translate3d(80vw, 100vh, 85px);
  background: black; }

@keyframes particle-animation-14 {
  100% {
    transform: translate3d(1vw, 6vh, 75px); } }

.particle:nth-child(14) {
  animation: particle-animation-14 60000ms infinite;
  opacity: 0.035;
  height: 6px;
  width: 6px;
  animation-delay: -1400ms;
  transform: translate3d(54vw, 71vh, 85px);
  background: black; }

@keyframes particle-animation-15 {
  100% {
    transform: translate3d(46vw, 14vh, 45px); } }

.particle:nth-child(15) {
  animation: particle-animation-15 60000ms infinite;
  opacity: 0.36;
  height: 8px;
  width: 8px;
  animation-delay: -1500ms;
  transform: translate3d(82vw, 33vh, 6px);
  background: black; }

@keyframes particle-animation-16 {
  100% {
    transform: translate3d(96vw, 76vh, 27px); } }

.particle:nth-child(16) {
  animation: particle-animation-16 60000ms infinite;
  opacity: 0.04;
  height: 9px;
  width: 9px;
  animation-delay: -1600ms;
  transform: translate3d(61vw, 24vh, 47px);
  background: black; }

@keyframes particle-animation-17 {
  100% {
    transform: translate3d(22vw, 76vh, 25px); } }

.particle:nth-child(17) {
  animation: particle-animation-17 60000ms infinite;
  opacity: 0.135;
  height: 10px;
  width: 10px;
  animation-delay: -1700ms;
  transform: translate3d(59vw, 55vh, 30px);
  background: black; }

@keyframes particle-animation-18 {
  100% {
    transform: translate3d(4vw, 63vh, 19px); } }

.particle:nth-child(18) {
  animation: particle-animation-18 60000ms infinite;
  opacity: 0.35;
  height: 9px;
  width: 9px;
  animation-delay: -1800ms;
  transform: translate3d(72vw, 33vh, 73px);
  background: black; }

@keyframes particle-animation-19 {
  100% {
    transform: translate3d(49vw, 58vh, 28px); } }

.particle:nth-child(19) {
  animation: particle-animation-19 60000ms infinite;
  opacity: 0.08;
  height: 9px;
  width: 9px;
  animation-delay: -1900ms;
  transform: translate3d(39vw, 39vh, 91px);
  background: black; }

@keyframes particle-animation-20 {
  100% {
    transform: translate3d(77vw, 67vh, 39px); } }

.particle:nth-child(20) {
  animation: particle-animation-20 60000ms infinite;
  opacity: 0.01;
  height: 7px;
  width: 7px;
  animation-delay: -2000ms;
  transform: translate3d(95vw, 14vh, 41px);
  background: black; }

@keyframes particle-animation-21 {
  100% {
    transform: translate3d(13vw, 84vh, 86px); } }

.particle:nth-child(21) {
  animation: particle-animation-21 60000ms infinite;
  opacity: 0.21;
  height: 9px;
  width: 9px;
  animation-delay: -2100ms;
  transform: translate3d(32vw, 94vh, 72px);
  background: black; }

@keyframes particle-animation-22 {
  100% {
    transform: translate3d(29vw, 72vh, 88px); } }

.particle:nth-child(22) {
  animation: particle-animation-22 60000ms infinite;
  opacity: 0.055;
  height: 10px;
  width: 10px;
  animation-delay: -2200ms;
  transform: translate3d(72vw, 77vh, 62px);
  background: black; }

@keyframes particle-animation-23 {
  100% {
    transform: translate3d(79vw, 28vh, 71px); } }

.particle:nth-child(23) {
  animation: particle-animation-23 60000ms infinite;
  opacity: 0.395;
  height: 10px;
  width: 10px;
  animation-delay: -2300ms;
  transform: translate3d(46vw, 39vh, 73px);
  background: black; }

@keyframes particle-animation-24 {
  100% {
    transform: translate3d(23vw, 2vh, 75px); } }

.particle:nth-child(24) {
  animation: particle-animation-24 60000ms infinite;
  opacity: 0.295;
  height: 8px;
  width: 8px;
  animation-delay: -2400ms;
  transform: translate3d(54vw, 27vh, 100px);
  background: black; }

@keyframes particle-animation-25 {
  100% {
    transform: translate3d(5vw, 92vh, 98px); } }

.particle:nth-child(25) {
  animation: particle-animation-25 60000ms infinite;
  opacity: 0.455;
  height: 9px;
  width: 9px;
  animation-delay: -2500ms;
  transform: translate3d(19vw, 67vh, 11px);
  background: black; }

@keyframes particle-animation-26 {
  100% {
    transform: translate3d(62vw, 29vh, 4px); } }

.particle:nth-child(26) {
  animation: particle-animation-26 60000ms infinite;
  opacity: 0.055;
  height: 10px;
  width: 10px;
  animation-delay: -2600ms;
  transform: translate3d(53vw, 43vh, 93px);
  background: black; }

@keyframes particle-animation-27 {
  100% {
    transform: translate3d(64vw, 4vh, 29px); } }

.particle:nth-child(27) {
  animation: particle-animation-27 60000ms infinite;
  opacity: 0.04;
  height: 6px;
  width: 6px;
  animation-delay: -2700ms;
  transform: translate3d(25vw, 33vh, 39px);
  background: black; }

@keyframes particle-animation-28 {
  100% {
    transform: translate3d(67vw, 34vh, 15px); } }

.particle:nth-child(28) {
  animation: particle-animation-28 60000ms infinite;
  opacity: 0.355;
  height: 7px;
  width: 7px;
  animation-delay: -2800ms;
  transform: translate3d(10vw, 41vh, 55px);
  background: black; }

@keyframes particle-animation-29 {
  100% {
    transform: translate3d(69vw, 15vh, 52px); } }

.particle:nth-child(29) {
  animation: particle-animation-29 60000ms infinite;
  opacity: 0.155;
  height: 8px;
  width: 8px;
  animation-delay: -2900ms;
  transform: translate3d(19vw, 33vh, 39px);
  background: black; }

@keyframes particle-animation-30 {
  100% {
    transform: translate3d(51vw, 47vh, 50px); } }

.particle:nth-child(30) {
  animation: particle-animation-30 60000ms infinite;
  opacity: 0.05;
  height: 10px;
  width: 10px;
  animation-delay: -3000ms;
  transform: translate3d(72vw, 92vh, 49px);
  background: black; }

@keyframes particle-animation-31 {
  100% {
    transform: translate3d(75vw, 44vh, 21px); } }

.particle:nth-child(31) {
  animation: particle-animation-31 60000ms infinite;
  opacity: 0.17;
  height: 8px;
  width: 8px;
  animation-delay: -3100ms;
  transform: translate3d(11vw, 40vh, 20px);
  background: black; }

@keyframes particle-animation-32 {
  100% {
    transform: translate3d(85vw, 90vh, 74px); } }

.particle:nth-child(32) {
  animation: particle-animation-32 60000ms infinite;
  opacity: 0.025;
  height: 6px;
  width: 6px;
  animation-delay: -3200ms;
  transform: translate3d(16vw, 27vh, 93px);
  background: black; }

@keyframes particle-animation-33 {
  100% {
    transform: translate3d(68vw, 23vh, 86px); } }

.particle:nth-child(33) {
  animation: particle-animation-33 60000ms infinite;
  opacity: 0.17;
  height: 8px;
  width: 8px;
  animation-delay: -3300ms;
  transform: translate3d(81vw, 86vh, 10px);
  background: black; }

@keyframes particle-animation-34 {
  100% {
    transform: translate3d(16vw, 100vh, 5px); } }

.particle:nth-child(34) {
  animation: particle-animation-34 60000ms infinite;
  opacity: 0.16;
  height: 10px;
  width: 10px;
  animation-delay: -3400ms;
  transform: translate3d(25vw, 43vh, 78px);
  background: black; }

@keyframes particle-animation-35 {
  100% {
    transform: translate3d(5vw, 91vh, 62px); } }

.particle:nth-child(35) {
  animation: particle-animation-35 60000ms infinite;
  opacity: 0.225;
  height: 8px;
  width: 8px;
  animation-delay: -3500ms;
  transform: translate3d(35vw, 37vh, 99px);
  background: black; }

@keyframes particle-animation-36 {
  100% {
    transform: translate3d(73vw, 12vh, 22px); } }

.particle:nth-child(36) {
  animation: particle-animation-36 60000ms infinite;
  opacity: 0.46;
  height: 7px;
  width: 7px;
  animation-delay: -3600ms;
  transform: translate3d(66vw, 42vh, 53px);
  background: black; }

@keyframes particle-animation-37 {
  100% {
    transform: translate3d(13vw, 63vh, 61px); } }

.particle:nth-child(37) {
  animation: particle-animation-37 60000ms infinite;
  opacity: 0.2;
  height: 9px;
  width: 9px;
  animation-delay: -3700ms;
  transform: translate3d(79vw, 56vh, 13px);
  background: black; }

@keyframes particle-animation-38 {
  100% {
    transform: translate3d(95vw, 65vh, 62px); } }

.particle:nth-child(38) {
  animation: particle-animation-38 60000ms infinite;
  opacity: 0.06;
  height: 9px;
  width: 9px;
  animation-delay: -3800ms;
  transform: translate3d(18vw, 11vh, 6px);
  background: black; }

@keyframes particle-animation-39 {
  100% {
    transform: translate3d(55vw, 66vh, 6px); } }

.particle:nth-child(39) {
  animation: particle-animation-39 60000ms infinite;
  opacity: 0.42;
  height: 9px;
  width: 9px;
  animation-delay: -3900ms;
  transform: translate3d(75vw, 27vh, 94px);
  background: black; }

@keyframes particle-animation-40 {
  100% {
    transform: translate3d(90vw, 61vh, 92px); } }

.particle:nth-child(40) {
  animation: particle-animation-40 60000ms infinite;
  opacity: 0.265;
  height: 8px;
  width: 8px;
  animation-delay: -4000ms;
  transform: translate3d(93vw, 66vh, 16px);
  background: black; }

@keyframes particle-animation-41 {
  100% {
    transform: translate3d(83vw, 88vh, 22px); } }

.particle:nth-child(41) {
  animation: particle-animation-41 60000ms infinite;
  opacity: 0.285;
  height: 6px;
  width: 6px;
  animation-delay: -4100ms;
  transform: translate3d(93vw, 59vh, 98px);
  background: black; }

@keyframes particle-animation-42 {
  100% {
    transform: translate3d(7vw, 79vh, 76px); } }

.particle:nth-child(42) {
  animation: particle-animation-42 60000ms infinite;
  opacity: 0.25;
  height: 8px;
  width: 8px;
  animation-delay: -4200ms;
  transform: translate3d(50vw, 21vh, 3px);
  background: black; }

@keyframes particle-animation-43 {
  100% {
    transform: translate3d(89vw, 83vh, 99px); } }

.particle:nth-child(43) {
  animation: particle-animation-43 60000ms infinite;
  opacity: 0.38;
  height: 10px;
  width: 10px;
  animation-delay: -4300ms;
  transform: translate3d(59vw, 95vh, 76px);
  background: black; }

@keyframes particle-animation-44 {
  100% {
    transform: translate3d(26vw, 84vh, 46px); } }

.particle:nth-child(44) {
  animation: particle-animation-44 60000ms infinite;
  opacity: 0.32;
  height: 10px;
  width: 10px;
  animation-delay: -4400ms;
  transform: translate3d(33vw, 47vh, 95px);
  background: black; }

@keyframes particle-animation-45 {
  100% {
    transform: translate3d(4vw, 94vh, 6px); } }

.particle:nth-child(45) {
  animation: particle-animation-45 60000ms infinite;
  opacity: 0.425;
  height: 7px;
  width: 7px;
  animation-delay: -4500ms;
  transform: translate3d(50vw, 46vh, 67px);
  background: black; }

@keyframes particle-animation-46 {
  100% {
    transform: translate3d(18vw, 68vh, 26px); } }

.particle:nth-child(46) {
  animation: particle-animation-46 60000ms infinite;
  opacity: 0.415;
  height: 9px;
  width: 9px;
  animation-delay: -4600ms;
  transform: translate3d(23vw, 11vh, 42px);
  background: black; }

@keyframes particle-animation-47 {
  100% {
    transform: translate3d(70vw, 49vh, 11px); } }

.particle:nth-child(47) {
  animation: particle-animation-47 60000ms infinite;
  opacity: 0.29;
  height: 10px;
  width: 10px;
  animation-delay: -4700ms;
  transform: translate3d(5vw, 24vh, 43px);
  background: black; }

@keyframes particle-animation-48 {
  100% {
    transform: translate3d(73vw, 15vh, 77px); } }

.particle:nth-child(48) {
  animation: particle-animation-48 60000ms infinite;
  opacity: 0.16;
  height: 7px;
  width: 7px;
  animation-delay: -4800ms;
  transform: translate3d(36vw, 66vh, 74px);
  background: black; }

@keyframes particle-animation-49 {
  100% {
    transform: translate3d(52vw, 94vh, 27px); } }

.particle:nth-child(49) {
  animation: particle-animation-49 60000ms infinite;
  opacity: 0.305;
  height: 7px;
  width: 7px;
  animation-delay: -4900ms;
  transform: translate3d(61vw, 30vh, 68px);
  background: black; }

@keyframes particle-animation-50 {
  100% {
    transform: translate3d(92vw, 88vh, 33px); } }

.particle:nth-child(50) {
  animation: particle-animation-50 60000ms infinite;
  opacity: 0.185;
  height: 6px;
  width: 6px;
  animation-delay: -5000ms;
  transform: translate3d(51vw, 48vh, 49px);
  background: black; }

@keyframes particle-animation-51 {
  100% {
    transform: translate3d(32vw, 26vh, 25px); } }

.particle:nth-child(51) {
  animation: particle-animation-51 60000ms infinite;
  opacity: 0.48;
  height: 10px;
  width: 10px;
  animation-delay: -5100ms;
  transform: translate3d(47vw, 21vh, 74px);
  background: black; }

@keyframes particle-animation-52 {
  100% {
    transform: translate3d(44vw, 19vh, 17px); } }

.particle:nth-child(52) {
  animation: particle-animation-52 60000ms infinite;
  opacity: 0.485;
  height: 6px;
  width: 6px;
  animation-delay: -5200ms;
  transform: translate3d(36vw, 57vh, 53px);
  background: black; }

@keyframes particle-animation-53 {
  100% {
    transform: translate3d(10vw, 57vh, 100px); } }

.particle:nth-child(53) {
  animation: particle-animation-53 60000ms infinite;
  opacity: 0.01;
  height: 6px;
  width: 6px;
  animation-delay: -5300ms;
  transform: translate3d(16vw, 45vh, 66px);
  background: black; }

@keyframes particle-animation-54 {
  100% {
    transform: translate3d(94vw, 1vh, 75px); } }

.particle:nth-child(54) {
  animation: particle-animation-54 60000ms infinite;
  opacity: 0.45;
  height: 8px;
  width: 8px;
  animation-delay: -5400ms;
  transform: translate3d(63vw, 82vh, 81px);
  background: black; }

@keyframes particle-animation-55 {
  100% {
    transform: translate3d(87vw, 10vh, 35px); } }

.particle:nth-child(55) {
  animation: particle-animation-55 60000ms infinite;
  opacity: 0.225;
  height: 10px;
  width: 10px;
  animation-delay: -5500ms;
  transform: translate3d(91vw, 89vh, 55px);
  background: black; }

@keyframes particle-animation-56 {
  100% {
    transform: translate3d(74vw, 46vh, 35px); } }

.particle:nth-child(56) {
  animation: particle-animation-56 60000ms infinite;
  opacity: 0.425;
  height: 10px;
  width: 10px;
  animation-delay: -5600ms;
  transform: translate3d(40vw, 11vh, 42px);
  background: black; }

@keyframes particle-animation-57 {
  100% {
    transform: translate3d(82vw, 70vh, 71px); } }

.particle:nth-child(57) {
  animation: particle-animation-57 60000ms infinite;
  opacity: 0.18;
  height: 8px;
  width: 8px;
  animation-delay: -5700ms;
  transform: translate3d(16vw, 16vh, 32px);
  background: black; }

@keyframes particle-animation-58 {
  100% {
    transform: translate3d(79vw, 7vh, 19px); } }

.particle:nth-child(58) {
  animation: particle-animation-58 60000ms infinite;
  opacity: 0.14;
  height: 10px;
  width: 10px;
  animation-delay: -5800ms;
  transform: translate3d(31vw, 8vh, 57px);
  background: black; }

@keyframes particle-animation-59 {
  100% {
    transform: translate3d(52vw, 90vh, 38px); } }

.particle:nth-child(59) {
  animation: particle-animation-59 60000ms infinite;
  opacity: 0.345;
  height: 7px;
  width: 7px;
  animation-delay: -5900ms;
  transform: translate3d(34vw, 64vh, 65px);
  background: black; }

@keyframes particle-animation-60 {
  100% {
    transform: translate3d(95vw, 10vh, 25px); } }

.particle:nth-child(60) {
  animation: particle-animation-60 60000ms infinite;
  opacity: 0.375;
  height: 10px;
  width: 10px;
  animation-delay: -6000ms;
  transform: translate3d(92vw, 96vh, 10px);
  background: black; }
