@font-face {
  font-family: DejaVuSansMono;
  src: url(../media/fonts/DejaVuSansMono.woff); }

@font-face {
  font-family: DejaVuSansMono-Bold;
  src: url(../media/fonts/DejaVuSansMono-Bold.woff); }

body {
  margin: 0;
  background-color: #1f201e;
  font-family: "DejaVuSansMono", Arial, Helvetica, sans-serif;
  color: #e6e6e6; }

h1 {
  font-family: "DejaVuSansMono-Bold", "DejaVuSansMono", Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: #8f97c6; }

strong {
  display: inline-block;
  font-family: "DejaVuSansMono-Bold", "DejaVuSansMono", Arial, Helvetica, sans-serif;
  color: #1f201e;
  font-size: 25px; }

input[type=submit] {
  background-color: #1f201e;
  color: #8f97c6;
  font-family: "DejaVuSansMono-Bold", "DejaVuSansMono", Arial, Helvetica, sans-serif;
  font-size: 16px;
  border: 0;
  padding: 5px;
  width: 100px;
  cursor: pointer;
  border: 2px solid #1f201e; }
  input[type=submit]:focus, input[type=submit]:hover {
    background-color: #8f97c6;
    color: #1f201e;
    border: 2px solid #1f201e; }

@keyframes particle-animation-1 {
  from {
    transform: translate3d(39vw, 17vh, 82px); }
  to {
    transform: translate3d(30vw, 2vh, 40px); } }

.particle:nth-child(1) {
  animation: particle-animation-1 60000ms infinite;
  opacity: 0.21;
  height: 6px;
  width: 6px;
  animation-delay: -100ms;
  background: black; }

@keyframes particle-animation-2 {
  from {
    transform: translate3d(20vw, 50vh, 66px); }
  to {
    transform: translate3d(47vw, 46vh, 8px); } }

.particle:nth-child(2) {
  animation: particle-animation-2 60000ms infinite;
  opacity: 0.155;
  height: 6px;
  width: 6px;
  animation-delay: -200ms;
  background: black; }

@keyframes particle-animation-3 {
  from {
    transform: translate3d(5vw, 25vh, 41px); }
  to {
    transform: translate3d(75vw, 69vh, 45px); } }

.particle:nth-child(3) {
  animation: particle-animation-3 60000ms infinite;
  opacity: 0.225;
  height: 7px;
  width: 7px;
  animation-delay: -300ms;
  background: black; }

@keyframes particle-animation-4 {
  from {
    transform: translate3d(81vw, 38vh, 30px); }
  to {
    transform: translate3d(53vw, 30vh, 8px); } }

.particle:nth-child(4) {
  animation: particle-animation-4 60000ms infinite;
  opacity: 0.075;
  height: 9px;
  width: 9px;
  animation-delay: -400ms;
  background: black; }

@keyframes particle-animation-5 {
  from {
    transform: translate3d(8vw, 86vh, 65px); }
  to {
    transform: translate3d(83vw, 5vh, 13px); } }

.particle:nth-child(5) {
  animation: particle-animation-5 60000ms infinite;
  opacity: 0.43;
  height: 8px;
  width: 8px;
  animation-delay: -500ms;
  background: black; }

@keyframes particle-animation-6 {
  from {
    transform: translate3d(43vw, 76vh, 79px); }
  to {
    transform: translate3d(55vw, 75vh, 92px); } }

.particle:nth-child(6) {
  animation: particle-animation-6 60000ms infinite;
  opacity: 0.105;
  height: 10px;
  width: 10px;
  animation-delay: -600ms;
  background: black; }

@keyframes particle-animation-7 {
  from {
    transform: translate3d(11vw, 67vh, 52px); }
  to {
    transform: translate3d(41vw, 67vh, 59px); } }

.particle:nth-child(7) {
  animation: particle-animation-7 60000ms infinite;
  opacity: 0.365;
  height: 7px;
  width: 7px;
  animation-delay: -700ms;
  background: black; }

@keyframes particle-animation-8 {
  from {
    transform: translate3d(23vw, 94vh, 10px); }
  to {
    transform: translate3d(50vw, 62vh, 97px); } }

.particle:nth-child(8) {
  animation: particle-animation-8 60000ms infinite;
  opacity: 0.5;
  height: 10px;
  width: 10px;
  animation-delay: -800ms;
  background: black; }

@keyframes particle-animation-9 {
  from {
    transform: translate3d(16vw, 95vh, 41px); }
  to {
    transform: translate3d(1vw, 23vh, 92px); } }

.particle:nth-child(9) {
  animation: particle-animation-9 60000ms infinite;
  opacity: 0.395;
  height: 9px;
  width: 9px;
  animation-delay: -900ms;
  background: black; }

@keyframes particle-animation-10 {
  from {
    transform: translate3d(68vw, 61vh, 18px); }
  to {
    transform: translate3d(22vw, 18vh, 15px); } }

.particle:nth-child(10) {
  animation: particle-animation-10 60000ms infinite;
  opacity: 0.13;
  height: 9px;
  width: 9px;
  animation-delay: -1000ms;
  background: black; }

@keyframes particle-animation-11 {
  from {
    transform: translate3d(3vw, 56vh, 21px); }
  to {
    transform: translate3d(30vw, 45vh, 22px); } }

.particle:nth-child(11) {
  animation: particle-animation-11 60000ms infinite;
  opacity: 0.49;
  height: 10px;
  width: 10px;
  animation-delay: -1100ms;
  background: black; }

@keyframes particle-animation-12 {
  from {
    transform: translate3d(65vw, 49vh, 31px); }
  to {
    transform: translate3d(93vw, 84vh, 95px); } }

.particle:nth-child(12) {
  animation: particle-animation-12 60000ms infinite;
  opacity: 0.435;
  height: 8px;
  width: 8px;
  animation-delay: -1200ms;
  background: black; }

@keyframes particle-animation-13 {
  from {
    transform: translate3d(64vw, 90vh, 95px); }
  to {
    transform: translate3d(52vw, 57vh, 74px); } }

.particle:nth-child(13) {
  animation: particle-animation-13 60000ms infinite;
  opacity: 0.1;
  height: 9px;
  width: 9px;
  animation-delay: -1300ms;
  background: black; }

@keyframes particle-animation-14 {
  from {
    transform: translate3d(78vw, 81vh, 68px); }
  to {
    transform: translate3d(5vw, 65vh, 40px); } }

.particle:nth-child(14) {
  animation: particle-animation-14 60000ms infinite;
  opacity: 0.09;
  height: 7px;
  width: 7px;
  animation-delay: -1400ms;
  background: black; }

@keyframes particle-animation-15 {
  from {
    transform: translate3d(58vw, 30vh, 64px); }
  to {
    transform: translate3d(3vw, 1vh, 92px); } }

.particle:nth-child(15) {
  animation: particle-animation-15 60000ms infinite;
  opacity: 0.11;
  height: 6px;
  width: 6px;
  animation-delay: -1500ms;
  background: black; }

@keyframes particle-animation-16 {
  from {
    transform: translate3d(67vw, 75vh, 38px); }
  to {
    transform: translate3d(35vw, 88vh, 55px); } }

.particle:nth-child(16) {
  animation: particle-animation-16 60000ms infinite;
  opacity: 0.445;
  height: 10px;
  width: 10px;
  animation-delay: -1600ms;
  background: black; }

@keyframes particle-animation-17 {
  from {
    transform: translate3d(33vw, 41vh, 32px); }
  to {
    transform: translate3d(46vw, 66vh, 99px); } }

.particle:nth-child(17) {
  animation: particle-animation-17 60000ms infinite;
  opacity: 0.11;
  height: 8px;
  width: 8px;
  animation-delay: -1700ms;
  background: black; }

@keyframes particle-animation-18 {
  from {
    transform: translate3d(54vw, 56vh, 43px); }
  to {
    transform: translate3d(11vw, 19vh, 98px); } }

.particle:nth-child(18) {
  animation: particle-animation-18 60000ms infinite;
  opacity: 0.125;
  height: 10px;
  width: 10px;
  animation-delay: -1800ms;
  background: black; }

@keyframes particle-animation-19 {
  from {
    transform: translate3d(80vw, 10vh, 71px); }
  to {
    transform: translate3d(18vw, 95vh, 30px); } }

.particle:nth-child(19) {
  animation: particle-animation-19 60000ms infinite;
  opacity: 0.175;
  height: 8px;
  width: 8px;
  animation-delay: -1900ms;
  background: black; }

@keyframes particle-animation-20 {
  from {
    transform: translate3d(33vw, 15vh, 26px); }
  to {
    transform: translate3d(71vw, 50vh, 86px); } }

.particle:nth-child(20) {
  animation: particle-animation-20 60000ms infinite;
  opacity: 0.455;
  height: 10px;
  width: 10px;
  animation-delay: -2000ms;
  background: black; }

@keyframes particle-animation-21 {
  from {
    transform: translate3d(55vw, 84vh, 1px); }
  to {
    transform: translate3d(6vw, 79vh, 67px); } }

.particle:nth-child(21) {
  animation: particle-animation-21 60000ms infinite;
  opacity: 0.285;
  height: 10px;
  width: 10px;
  animation-delay: -2100ms;
  background: black; }

@keyframes particle-animation-22 {
  from {
    transform: translate3d(78vw, 39vh, 43px); }
  to {
    transform: translate3d(47vw, 38vh, 14px); } }

.particle:nth-child(22) {
  animation: particle-animation-22 60000ms infinite;
  opacity: 0.355;
  height: 9px;
  width: 9px;
  animation-delay: -2200ms;
  background: black; }

@keyframes particle-animation-23 {
  from {
    transform: translate3d(52vw, 41vh, 95px); }
  to {
    transform: translate3d(46vw, 29vh, 25px); } }

.particle:nth-child(23) {
  animation: particle-animation-23 60000ms infinite;
  opacity: 0.01;
  height: 7px;
  width: 7px;
  animation-delay: -2300ms;
  background: black; }

@keyframes particle-animation-24 {
  from {
    transform: translate3d(49vw, 64vh, 16px); }
  to {
    transform: translate3d(86vw, 72vh, 33px); } }

.particle:nth-child(24) {
  animation: particle-animation-24 60000ms infinite;
  opacity: 0.185;
  height: 7px;
  width: 7px;
  animation-delay: -2400ms;
  background: black; }

@keyframes particle-animation-25 {
  from {
    transform: translate3d(54vw, 66vh, 5px); }
  to {
    transform: translate3d(76vw, 67vh, 28px); } }

.particle:nth-child(25) {
  animation: particle-animation-25 60000ms infinite;
  opacity: 0.315;
  height: 6px;
  width: 6px;
  animation-delay: -2500ms;
  background: black; }

@keyframes particle-animation-26 {
  from {
    transform: translate3d(58vw, 73vh, 78px); }
  to {
    transform: translate3d(71vw, 30vh, 84px); } }

.particle:nth-child(26) {
  animation: particle-animation-26 60000ms infinite;
  opacity: 0.35;
  height: 8px;
  width: 8px;
  animation-delay: -2600ms;
  background: black; }

@keyframes particle-animation-27 {
  from {
    transform: translate3d(52vw, 88vh, 41px); }
  to {
    transform: translate3d(27vw, 100vh, 89px); } }

.particle:nth-child(27) {
  animation: particle-animation-27 60000ms infinite;
  opacity: 0.025;
  height: 9px;
  width: 9px;
  animation-delay: -2700ms;
  background: black; }

@keyframes particle-animation-28 {
  from {
    transform: translate3d(27vw, 75vh, 58px); }
  to {
    transform: translate3d(1vw, 60vh, 18px); } }

.particle:nth-child(28) {
  animation: particle-animation-28 60000ms infinite;
  opacity: 0.31;
  height: 7px;
  width: 7px;
  animation-delay: -2800ms;
  background: black; }

@keyframes particle-animation-29 {
  from {
    transform: translate3d(43vw, 77vh, 32px); }
  to {
    transform: translate3d(99vw, 11vh, 91px); } }

.particle:nth-child(29) {
  animation: particle-animation-29 60000ms infinite;
  opacity: 0.25;
  height: 10px;
  width: 10px;
  animation-delay: -2900ms;
  background: black; }

@keyframes particle-animation-30 {
  from {
    transform: translate3d(37vw, 60vh, 35px); }
  to {
    transform: translate3d(69vw, 18vh, 45px); } }

.particle:nth-child(30) {
  animation: particle-animation-30 60000ms infinite;
  opacity: 0.495;
  height: 6px;
  width: 6px;
  animation-delay: -3000ms;
  background: black; }

@keyframes particle-animation-31 {
  from {
    transform: translate3d(13vw, 41vh, 2px); }
  to {
    transform: translate3d(80vw, 12vh, 60px); } }

.particle:nth-child(31) {
  animation: particle-animation-31 60000ms infinite;
  opacity: 0.39;
  height: 7px;
  width: 7px;
  animation-delay: -3100ms;
  background: black; }

@keyframes particle-animation-32 {
  from {
    transform: translate3d(63vw, 2vh, 73px); }
  to {
    transform: translate3d(87vw, 90vh, 33px); } }

.particle:nth-child(32) {
  animation: particle-animation-32 60000ms infinite;
  opacity: 0.485;
  height: 9px;
  width: 9px;
  animation-delay: -3200ms;
  background: black; }

@keyframes particle-animation-33 {
  from {
    transform: translate3d(70vw, 42vh, 69px); }
  to {
    transform: translate3d(22vw, 54vh, 23px); } }

.particle:nth-child(33) {
  animation: particle-animation-33 60000ms infinite;
  opacity: 0.47;
  height: 8px;
  width: 8px;
  animation-delay: -3300ms;
  background: black; }

@keyframes particle-animation-34 {
  from {
    transform: translate3d(50vw, 47vh, 52px); }
  to {
    transform: translate3d(64vw, 73vh, 17px); } }

.particle:nth-child(34) {
  animation: particle-animation-34 60000ms infinite;
  opacity: 0.125;
  height: 10px;
  width: 10px;
  animation-delay: -3400ms;
  background: black; }

@keyframes particle-animation-35 {
  from {
    transform: translate3d(59vw, 33vh, 29px); }
  to {
    transform: translate3d(19vw, 26vh, 94px); } }

.particle:nth-child(35) {
  animation: particle-animation-35 60000ms infinite;
  opacity: 0.065;
  height: 9px;
  width: 9px;
  animation-delay: -3500ms;
  background: black; }

@keyframes particle-animation-36 {
  from {
    transform: translate3d(1vw, 5vh, 42px); }
  to {
    transform: translate3d(16vw, 8vh, 56px); } }

.particle:nth-child(36) {
  animation: particle-animation-36 60000ms infinite;
  opacity: 0.075;
  height: 9px;
  width: 9px;
  animation-delay: -3600ms;
  background: black; }

@keyframes particle-animation-37 {
  from {
    transform: translate3d(40vw, 80vh, 78px); }
  to {
    transform: translate3d(24vw, 12vh, 92px); } }

.particle:nth-child(37) {
  animation: particle-animation-37 60000ms infinite;
  opacity: 0.075;
  height: 10px;
  width: 10px;
  animation-delay: -3700ms;
  background: black; }

@keyframes particle-animation-38 {
  from {
    transform: translate3d(97vw, 22vh, 13px); }
  to {
    transform: translate3d(14vw, 62vh, 44px); } }

.particle:nth-child(38) {
  animation: particle-animation-38 60000ms infinite;
  opacity: 0.49;
  height: 8px;
  width: 8px;
  animation-delay: -3800ms;
  background: black; }

@keyframes particle-animation-39 {
  from {
    transform: translate3d(68vw, 95vh, 94px); }
  to {
    transform: translate3d(9vw, 48vh, 75px); } }

.particle:nth-child(39) {
  animation: particle-animation-39 60000ms infinite;
  opacity: 0.03;
  height: 6px;
  width: 6px;
  animation-delay: -3900ms;
  background: black; }

@keyframes particle-animation-40 {
  from {
    transform: translate3d(95vw, 3vh, 15px); }
  to {
    transform: translate3d(41vw, 3vh, 82px); } }

.particle:nth-child(40) {
  animation: particle-animation-40 60000ms infinite;
  opacity: 0.415;
  height: 7px;
  width: 7px;
  animation-delay: -4000ms;
  background: black; }

@keyframes particle-animation-41 {
  from {
    transform: translate3d(86vw, 3vh, 91px); }
  to {
    transform: translate3d(2vw, 70vh, 35px); } }

.particle:nth-child(41) {
  animation: particle-animation-41 60000ms infinite;
  opacity: 0.05;
  height: 6px;
  width: 6px;
  animation-delay: -4100ms;
  background: black; }

@keyframes particle-animation-42 {
  from {
    transform: translate3d(28vw, 49vh, 93px); }
  to {
    transform: translate3d(76vw, 27vh, 97px); } }

.particle:nth-child(42) {
  animation: particle-animation-42 60000ms infinite;
  opacity: 0.105;
  height: 10px;
  width: 10px;
  animation-delay: -4200ms;
  background: black; }

@keyframes particle-animation-43 {
  from {
    transform: translate3d(26vw, 88vh, 73px); }
  to {
    transform: translate3d(98vw, 21vh, 96px); } }

.particle:nth-child(43) {
  animation: particle-animation-43 60000ms infinite;
  opacity: 0.21;
  height: 10px;
  width: 10px;
  animation-delay: -4300ms;
  background: black; }

@keyframes particle-animation-44 {
  from {
    transform: translate3d(9vw, 82vh, 37px); }
  to {
    transform: translate3d(22vw, 25vh, 27px); } }

.particle:nth-child(44) {
  animation: particle-animation-44 60000ms infinite;
  opacity: 0.3;
  height: 8px;
  width: 8px;
  animation-delay: -4400ms;
  background: black; }

@keyframes particle-animation-45 {
  from {
    transform: translate3d(47vw, 71vh, 16px); }
  to {
    transform: translate3d(22vw, 61vh, 95px); } }

.particle:nth-child(45) {
  animation: particle-animation-45 60000ms infinite;
  opacity: 0.1;
  height: 7px;
  width: 7px;
  animation-delay: -4500ms;
  background: black; }

@keyframes particle-animation-46 {
  from {
    transform: translate3d(59vw, 43vh, 93px); }
  to {
    transform: translate3d(59vw, 63vh, 12px); } }

.particle:nth-child(46) {
  animation: particle-animation-46 60000ms infinite;
  opacity: 0.11;
  height: 7px;
  width: 7px;
  animation-delay: -4600ms;
  background: black; }

@keyframes particle-animation-47 {
  from {
    transform: translate3d(52vw, 28vh, 28px); }
  to {
    transform: translate3d(15vw, 33vh, 50px); } }

.particle:nth-child(47) {
  animation: particle-animation-47 60000ms infinite;
  opacity: 0.36;
  height: 10px;
  width: 10px;
  animation-delay: -4700ms;
  background: black; }

@keyframes particle-animation-48 {
  from {
    transform: translate3d(63vw, 55vh, 62px); }
  to {
    transform: translate3d(15vw, 40vh, 92px); } }

.particle:nth-child(48) {
  animation: particle-animation-48 60000ms infinite;
  opacity: 0.18;
  height: 8px;
  width: 8px;
  animation-delay: -4800ms;
  background: black; }

@keyframes particle-animation-49 {
  from {
    transform: translate3d(31vw, 73vh, 91px); }
  to {
    transform: translate3d(100vw, 31vh, 69px); } }

.particle:nth-child(49) {
  animation: particle-animation-49 60000ms infinite;
  opacity: 0.395;
  height: 9px;
  width: 9px;
  animation-delay: -4900ms;
  background: black; }

@keyframes particle-animation-50 {
  from {
    transform: translate3d(64vw, 25vh, 100px); }
  to {
    transform: translate3d(83vw, 56vh, 4px); } }

.particle:nth-child(50) {
  animation: particle-animation-50 60000ms infinite;
  opacity: 0.05;
  height: 7px;
  width: 7px;
  animation-delay: -5000ms;
  background: black; }

@keyframes particle-animation-51 {
  from {
    transform: translate3d(96vw, 17vh, 60px); }
  to {
    transform: translate3d(82vw, 54vh, 76px); } }

.particle:nth-child(51) {
  animation: particle-animation-51 60000ms infinite;
  opacity: 0.405;
  height: 9px;
  width: 9px;
  animation-delay: -5100ms;
  background: black; }

@keyframes particle-animation-52 {
  from {
    transform: translate3d(88vw, 93vh, 62px); }
  to {
    transform: translate3d(94vw, 95vh, 81px); } }

.particle:nth-child(52) {
  animation: particle-animation-52 60000ms infinite;
  opacity: 0.395;
  height: 7px;
  width: 7px;
  animation-delay: -5200ms;
  background: black; }

@keyframes particle-animation-53 {
  from {
    transform: translate3d(72vw, 8vh, 52px); }
  to {
    transform: translate3d(54vw, 29vh, 23px); } }

.particle:nth-child(53) {
  animation: particle-animation-53 60000ms infinite;
  opacity: 0.19;
  height: 6px;
  width: 6px;
  animation-delay: -5300ms;
  background: black; }

@keyframes particle-animation-54 {
  from {
    transform: translate3d(9vw, 4vh, 99px); }
  to {
    transform: translate3d(85vw, 24vh, 58px); } }

.particle:nth-child(54) {
  animation: particle-animation-54 60000ms infinite;
  opacity: 0.305;
  height: 8px;
  width: 8px;
  animation-delay: -5400ms;
  background: black; }

@keyframes particle-animation-55 {
  from {
    transform: translate3d(22vw, 17vh, 65px); }
  to {
    transform: translate3d(68vw, 81vh, 85px); } }

.particle:nth-child(55) {
  animation: particle-animation-55 60000ms infinite;
  opacity: 0.025;
  height: 6px;
  width: 6px;
  animation-delay: -5500ms;
  background: black; }

@keyframes particle-animation-56 {
  from {
    transform: translate3d(92vw, 39vh, 72px); }
  to {
    transform: translate3d(37vw, 24vh, 45px); } }

.particle:nth-child(56) {
  animation: particle-animation-56 60000ms infinite;
  opacity: 0.43;
  height: 6px;
  width: 6px;
  animation-delay: -5600ms;
  background: black; }

@keyframes particle-animation-57 {
  from {
    transform: translate3d(29vw, 14vh, 25px); }
  to {
    transform: translate3d(66vw, 18vh, 95px); } }

.particle:nth-child(57) {
  animation: particle-animation-57 60000ms infinite;
  opacity: 0.06;
  height: 6px;
  width: 6px;
  animation-delay: -5700ms;
  background: black; }

@keyframes particle-animation-58 {
  from {
    transform: translate3d(8vw, 25vh, 15px); }
  to {
    transform: translate3d(89vw, 6vh, 29px); } }

.particle:nth-child(58) {
  animation: particle-animation-58 60000ms infinite;
  opacity: 0.07;
  height: 8px;
  width: 8px;
  animation-delay: -5800ms;
  background: black; }

@keyframes particle-animation-59 {
  from {
    transform: translate3d(13vw, 25vh, 88px); }
  to {
    transform: translate3d(42vw, 19vh, 95px); } }

.particle:nth-child(59) {
  animation: particle-animation-59 60000ms infinite;
  opacity: 0.255;
  height: 10px;
  width: 10px;
  animation-delay: -5900ms;
  background: black; }

@keyframes particle-animation-60 {
  from {
    transform: translate3d(7vw, 80vh, 70px); }
  to {
    transform: translate3d(73vw, 15vh, 98px); } }

.particle:nth-child(60) {
  animation: particle-animation-60 60000ms infinite;
  opacity: 0.11;
  height: 9px;
  width: 9px;
  animation-delay: -6000ms;
  background: black; }

@keyframes logo-pulsing {
  0%,
  100% {
    transform: scale(0.8);
    opacity: .8; }
  50% {
    transform: scale(1);
    opacity: 1; } }

#register {
  background-color: #8f97c6;
  overflow: hidden; }
  #register #particle-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -10; }
    #register #particle-container .particle {
      position: fixed; }
  #register main {
    box-shadow: 0px 5px 20px #1f201e;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto; }
    #register main #register-intro {
      grid-column: 1;
      background-color: #8f97c6;
      overflow: hidden;
      width: 350px;
      height: 400px;
      padding: 30px; }
      #register main #register-intro h1 {
        font-family: "DejaVuSansMono", Arial, Helvetica, sans-serif;
        color: #1f201e;
        margin-top: 0; }
      #register main #register-intro #role-container {
        margin: 0 0 30px 30px; }
        #register main #register-intro #role-container #role-intro {
          color: #1f201e;
          margin: 0 0 10px 0; }
        #register main #register-intro #role-container input[type=radio] {
          position: absolute;
          left: -9999px; }
          #register main #register-intro #role-container input[type=radio]:checked + label {
            font-family: "DejaVuSansMono-Bold", "DejaVuSansMono", Arial, Helvetica, sans-serif;
            border-bottom: 2px solid #1f201e; }
          #register main #register-intro #role-container input[type=radio]:not(:checked) + label {
            text-decoration: line-through; }
            #register main #register-intro #role-container input[type=radio]:not(:checked) + label:hover + label {
              font-family: "DejaVuSansMono-Bold", "DejaVuSansMono", Arial, Helvetica, sans-serif; }
        #register main #register-intro #role-container input[type=radio] + label {
          cursor: pointer;
          margin: 5px 0;
          outline: none;
          color: #1f201e;
          font-family: "DejaVuSansMono", Arial, Helvetica, sans-serif; }
          #register main #register-intro #role-container input[type=radio] + label:first-of-type {
            margin-right: 50px;
            margin-left: 30px; }
      #register main #register-intro #register-join,
      #register main #register-intro #register-host {
        padding-left: 30px; }
        #register main #register-intro #register-join.hide,
        #register main #register-intro #register-host.hide {
          position: absolute;
          left: -9999px; }
        #register main #register-intro #register-join #username-container,
        #register main #register-intro #register-join #roomname-container,
        #register main #register-intro #register-host #username-container,
        #register main #register-intro #register-host #roomname-container {
          position: relative;
          padding: 15px 0 0 0;
          margin-bottom: 30px; }
          #register main #register-intro #register-join #username-container input[type=text],
          #register main #register-intro #register-join #roomname-container input[type=text],
          #register main #register-intro #register-host #username-container input[type=text],
          #register main #register-intro #register-host #roomname-container input[type=text] {
            width: 100%;
            max-width: 250px;
            border: none;
            border-bottom: 2px solid #1f201e;
            padding: 7px 0 0 2px;
            background-color: #8f97c6;
            font-family: "DejaVuSansMono", Arial, Helvetica, sans-serif;
            font-size: 16px;
            text-transform: capitalize; }
            #register main #register-intro #register-join #username-container input[type=text]::placeholder,
            #register main #register-intro #register-join #roomname-container input[type=text]::placeholder,
            #register main #register-intro #register-host #username-container input[type=text]::placeholder,
            #register main #register-intro #register-host #roomname-container input[type=text]::placeholder {
              color: transparent; }
            #register main #register-intro #register-join #username-container input[type=text]:placeholder-shown ~ label,
            #register main #register-intro #register-join #roomname-container input[type=text]:placeholder-shown ~ label,
            #register main #register-intro #register-host #username-container input[type=text]:placeholder-shown ~ label,
            #register main #register-intro #register-host #roomname-container input[type=text]:placeholder-shown ~ label {
              font-size: 15px;
              cursor: text;
              top: 20px;
              padding-left: 4px;
              opacity: .75; }
              #register main #register-intro #register-join #username-container input[type=text]:placeholder-shown ~ label::before,
              #register main #register-intro #register-join #roomname-container input[type=text]:placeholder-shown ~ label::before,
              #register main #register-intro #register-host #username-container input[type=text]:placeholder-shown ~ label::before,
              #register main #register-intro #register-host #roomname-container input[type=text]:placeholder-shown ~ label::before {
                content: "Enter "; }
            #register main #register-intro #register-join #username-container input[type=text]:not(:placeholder-shown) ~ label,
            #register main #register-intro #register-join #roomname-container input[type=text]:not(:placeholder-shown) ~ label,
            #register main #register-intro #register-host #username-container input[type=text]:not(:placeholder-shown) ~ label,
            #register main #register-intro #register-host #roomname-container input[type=text]:not(:placeholder-shown) ~ label {
              font-size: 12px;
              font-family: "DejaVuSansMono", Arial, Helvetica, sans-serif; }
            #register main #register-intro #register-join #username-container input[type=text]:focus,
            #register main #register-intro #register-join #roomname-container input[type=text]:focus,
            #register main #register-intro #register-host #username-container input[type=text]:focus,
            #register main #register-intro #register-host #roomname-container input[type=text]:focus {
              outline: none;
              font-family: "DejaVuSansMono-Bold", "DejaVuSansMono", Arial, Helvetica, sans-serif; }
              #register main #register-intro #register-join #username-container input[type=text]:focus ~ input,
              #register main #register-intro #register-join #roomname-container input[type=text]:focus ~ input,
              #register main #register-intro #register-host #username-container input[type=text]:focus ~ input,
              #register main #register-intro #register-host #roomname-container input[type=text]:focus ~ input {
                position: absolute;
                top: 0;
                display: block;
                font-family: "DejaVuSansMono", Arial, Helvetica, sans-serif; }
            #register main #register-intro #register-join #username-container input[type=text]:required, #register main #register-intro #register-join #username-container input[type=text]:invalid,
            #register main #register-intro #register-join #roomname-container input[type=text]:required,
            #register main #register-intro #register-join #roomname-container input[type=text]:invalid,
            #register main #register-intro #register-host #username-container input[type=text]:required,
            #register main #register-intro #register-host #username-container input[type=text]:invalid,
            #register main #register-intro #register-host #roomname-container input[type=text]:required,
            #register main #register-intro #register-host #roomname-container input[type=text]:invalid {
              box-shadow: none; }
          #register main #register-intro #register-join #username-container label,
          #register main #register-intro #register-join #roomname-container label,
          #register main #register-intro #register-host #username-container label,
          #register main #register-intro #register-host #roomname-container label {
            position: absolute;
            top: 0;
            display: block;
            transition: 300ms;
            font-size: 16px;
            color: #1f201e; }
        #register main #register-intro #register-join #roomname-container input[type=text],
        #register main #register-intro #register-join #roomname + label,
        #register main #register-intro #register-host #roomname-container input[type=text],
        #register main #register-intro #register-host #roomname + label {
          text-transform: none; }
      #register main #register-intro fieldset {
        margin: 0;
        padding: 0;
        color: #1f201e;
        font-size: 16px;
        border: 0; }
        #register main #register-intro fieldset legend {
          margin-bottom: 5px;
          padding-left: 0; }
        #register main #register-intro fieldset input[type=radio] {
          position: absolute;
          left: -9999px; }
        #register main #register-intro fieldset input[type=radio] + label {
          display: block;
          cursor: pointer;
          margin: 5px 0;
          outline: none; }
          #register main #register-intro fieldset input[type=radio] + label::before {
            content: "";
            background-image: url(../media/images/item-icon.svg);
            background-repeat: no-repeat;
            background-position: center;
            padding: 1px 15px; }
          #register main #register-intro fieldset input[type=radio] + label:focus::before, #register main #register-intro fieldset input[type=radio] + label:hover::before {
            background-image: url(../media/images/half-filled-item-icon.svg); }
        #register main #register-intro fieldset input[type=radio]:checked + label {
          font-family: "DejaVuSansMono-Bold", "DejaVuSansMono", Arial, Helvetica, sans-serif; }
          #register main #register-intro fieldset input[type=radio]:checked + label::before {
            background-image: url(../media/images/filled-item-icon.svg); }
        #register main #register-intro fieldset .no-rooms-warning {
          margin: 5px 0;
          font-size: 12px;
          font-family: "DejaVuSansMono-Bold", "DejaVuSansMono", Arial, Helvetica, sans-serif; }
          #register main #register-intro fieldset .no-rooms-warning:last-of-type {
            margin-bottom: 20px; }
      #register main #register-intro input[type=submit] {
        display: block;
        margin-left: auto;
        outline: none;
        opacity: 1;
        transition: opacity 100ms ease; }
        #register main #register-intro input[type=submit].hide {
          opacity: 0; }
    #register main #register-logo {
      grid-column: 2;
      background-color: #1f201e;
      overflow: hidden;
      width: 350px;
      height: 400px;
      padding: 30px; }
      #register main #register-logo img {
        display: block;
        max-width: 150px;
        margin: auto;
        height: 100%;
        animation: logo-pulsing 15000ms linear infinite; }

#room {
  overflow: hidden; }
  #room main {
    display: grid;
    grid-template-columns: 1fr 1fr 200px;
    grid-template-rows: auto 1fr; }
    #room main section {
      height: 100vh;
      background-color: #1f201e; }
      #room main section#code-container {
        grid-column: 1 / 1; }
      #room main section#communication-container {
        grid-column: 2 / 2; }
    #room main #menu-container {
      grid-column: 3 / 3;
      background-color: #1f201e;
      background-color: black; }
      #room main #menu-container #branding-container {
        max-height: 30px;
        height: 30px;
        display: grid;
        grid-template-columns: 30px 1fr;
        margin-bottom: 20px; }
        #room main #menu-container #branding-container img {
          grid-column: 1 / 1;
          max-height: 18px;
          justify-self: center;
          align-self: center; }
        #room main #menu-container #branding-container h1 {
          grid-column: 2 / 3;
          color: #8f97c6;
          margin: 0;
          font-size: 20px;
          justify-self: start;
          align-self: center;
          font-family: "DejaVuSansMono", Arial, Helvetica, sans-serif; }
      #room main #menu-container #rooms-container,
      #room main #menu-container #users-container {
        padding: 10px 25px;
        width: 100%;
        margin-bottom: 20px; }
        #room main #menu-container #rooms-container h2,
        #room main #menu-container #users-container h2 {
          margin: 0;
          font-size: 16px; }
        #room main #menu-container #rooms-container ul,
        #room main #menu-container #users-container ul {
          margin: 0;
          padding-left: 20px; }
          #room main #menu-container #rooms-container ul li,
          #room main #menu-container #users-container ul li {
            list-style-type: none;
            display: block;
            width: 130px;
            position: relative; }
            #room main #menu-container #rooms-container ul li::before,
            #room main #menu-container #users-container ul li::before {
              content: "";
              background-image: url(../media/images/item-icon-color.svg);
              background-repeat: no-repeat;
              background-position: center;
              padding: 1px 15px;
              position: absolute;
              left: -40px;
              height: 20px;
              width: 20px; }
            #room main #menu-container #rooms-container ul li.current-room, #room main #menu-container #rooms-container ul li.user-host,
            #room main #menu-container #users-container ul li.current-room,
            #room main #menu-container #users-container ul li.user-host {
              background-color: #8f97c6;
              color: #1f201e;
              padding-left: 5px; }
              #room main #menu-container #rooms-container ul li.current-room::after, #room main #menu-container #rooms-container ul li.user-host::after,
              #room main #menu-container #users-container ul li.current-room::after,
              #room main #menu-container #users-container ul li.user-host::after {
                content: "";
                padding: 19px 0 0 30px;
                position: absolute;
                right: -20px;
                background-color: #8f97c6; }
