@font-face {
	font-family: utmTimes;
	src: url(../fonts/utmtimes.woff);
}

:root {
	--primary-dark: #202020;
	--secondary-dark: #080608;
	--primary-color: #ce673e;
	--primary-opposite-color: #d4d4d4;
	--navBar-height: 60px;
	font-family: Arial, Helvetica, sans-serif;
	color: var(--primary-opposite-color);
}

body {
	margin: var(--navBar-height) 0 0 0;
	background-color: var(--primary-color);
}

header {
	background-color: var(--secondary-dark);
	position: fixed;
	top: 0;
	height: var(--navBar-height);
	width: 100vw;
}

header h1 {
	margin: 10px 0 0 10px;
	color: var(--primary-color);
	font-family: "utmTimes", Arial, Helvetica, sans-serif;
}

main {
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 25vw 25vw;
	overflow: hidden;
}

#login {
	grid-template-rows: 40px 60px;
	height: fit-content;
	max-width: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

#login label {
	padding: 20px 0 0 20px;
}

#login input {
	grid-row: 2 / 2;
	color: var(--primary-opposite-color);
	font-size: 18px;
}

form {
	margin: 0;
	width: 100%;
	height: var(--navBar-height);
	background-color: var(--secondary-dark);
	display: grid;
	grid-template-columns: 1fr 100px;
}

input {
	background-color: var(--primary-dark);
	height: 30px;
	width: calc(100% - 15px);
	margin: auto 0 auto 15px;
	border: none;
	padding: 0 15px;
	color: var(--primary-opposite-color);
	font-size: 18px;
}

button,
input[type=submit] {
	background-color: var(--primary-color);
	height: 30px;
	width: calc(100% - 15px);
	margin: auto 15px auto 0;
	border: none;
	cursor: pointer;
	font-size: 18px;
}

h1 {
	margin: 30px 0;
	font-weight: 100;
	font-family: "utmTimes", Arial, Helvetica, sans-serif;
	font-size: 30px;
}

a {
	color: var(--primary-opposite-color);
}

a:visited {
	color: var(--primary-opposite-color);
}

#concept {
	background-color: var(--secondary-dark);
	padding: 15%;
	overflow-y: scroll;
}

#concept p {
	line-height: 1.2;
	font-family: Helvetica, sans-serif;
}

#concept h1 {
	line-height: 1.1;
}

#concept h1:not(:first-of-type) {
	margin-top: 60px;
}

#menu {
	background-color: var(--primary-dark);
	padding: 15%;
	overflow-y: scroll;
}

#chat {
	background-color: var(--primary-color);
	overflow-y: hidden;
	position: relative;
}

#chat div {
	max-height: calc(100% - var(--navBar-height) - 20px);
	height: 100%;
	overflow-y: scroll;
	padding: 20px 0 0 0;
}

#userInput {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 50vw;
}

article {
	padding: 5px;
	width: fit-content;
	margin-bottom: 10px;
}

article h5 {
	margin: 0;
	font-family: "utmTimes", Arial, Helvetica, sans-serif;
	font-size: 16px;
}

article p {
	margin: 0;
	font-size: 20px;
}

article.message {
	background-color: var(--primary-dark);
	padding: 10px;
	margin-left: 20px;
	border: 1px solid var(--primary-dark);
	border-radius: 0 10px 10px 10px;
}

article.message h5 {
	font-size: 15px;
}

article.message p {
	margin-top: 5px;
}

article.announcement {
	background-color: var(--primary-color);
	color: var(--primary-dark);
	width: 100%;
	text-align: center;
	margin: 0;
	font-style: italic;
}

article.announcement h5 {
	display: none;
}

article.announcement h5::after {
	content: "-";
	padding: 0 10px;
	font-size: 16px;
	display: inline-block;
	font-family: Helvetica, sans-serif;
}

article.announcement p {
	font-size: 16px;
	display: inline-block;
	font-family: Helvetica, sans-serif;
}

article.message.you {
	margin: 0 20px 10px auto;
	border: 1px solid var(--primary-dark);
	border-radius: 10px 0 10px 10px;
}

#chat div article:last-of-type {
	margin-bottom: 20px;
}

ul {
	font-size: 30px;
	padding-left: 0;
	font-family: "utmTimes", Arial, Helvetica, sans-serif;
}

ul:not(:first-of-type) {
	margin-top: 100px;
}

ul li {
	font-size: 18px;
	list-style: none;
	font-family: Helvetica, sans-serif;
}

ul li:first-of-type {
	margin-top: 30px;
}

ul li:not(:first-of-type) {
	margin-top: 5px;
}