<%- include('head') %>

<body>

	<header>
		<h1>Log in</span></h1>
	</header>

	<main>
		<form id="login" method="POST" action="/chatroom">
			<label for="username">Enter a username to use the app</label>
			<input id="username" type="text" name="username" placeholder="Enter username" required autocomplete="off">

			<input id="room" type="hidden" name="roomName" value="General" autocomplete="off">
			<input type="submit" value="Log in">
		</form>
	</main>

</body>

</html>