<%- include('head') %>

<body>

	<header>
		<h1>Log in</span></h1>
	</header>

	<main>
		<form id="login" method="POST" action="/chatroom">
			<label for="username">Username</label>
			<input id="username" type="text" name="username" placeholder="Enter username" required autocomplete="off">
			<input type="submit" value="log in">
		</form>
	</main>

</body>

</html>