$primary-background-color: #1f201e;
$primary-color: #8f97c6;
$primary-text-color: #e6e6e6;
$header-font: "DejaVuSansMono-Bold",
Arial,
Helvetica,
sans-serif;
$body-font: "DejaVuSansMono",
Arial,
Helvetica,
sans-serif;