$primary-color: #1f201e;
$secondary-color: #8f97c6;
$text-color: #e6e6e6;
$header-font: "DejaVuSansMono-Bold",
"DejaVuSansMono",
Arial,
Helvetica,
sans-serif;
$body-font: "DejaVuSansMono",
Arial,
Helvetica,
sans-serif;