$primary-color: #1f201e;
$primary-color-opacity: rgba(31, 32, 30, .05);
$secondary-color: #8f97c6;
$communication-background-color: #222326;
$editor-background-color: #24252C;
$text-color: #e6e6e6;
$header-font: "DejaVuSansMono-Bold",
"DejaVuSansMono",
Arial,
Helvetica,
sans-serif;
$body-font: "DejaVuSansMono",
Arial,
Helvetica,
sans-serif;
$header-height: 30px;